/.idea/.name
/.idea/compiler.xml
/target/maven-status/maven-compiler-plugin/compile/default-cli/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-cli/inputFiles.lst
/.idea/jarRepositories.xml
/.idea/misc.xml
/target/classes/MudanzasMainList.class
/target/test-classes/MudanzasMainTests.class
/target/classes/MudanzasMain.class
